<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th class="hidden-phone">{{ label_name }}</th>
        <th class="hidden-phone">{{ label_action }}</th>
    </tr>
    </thead>
    <tbody>
    {% for env in environments %}
    <tr>
        <td class="nowrap visible-desktop"><div class="table-cell-title">{{ env.name }}</div></td>

        <td class="tight hidden-phone">
            <div class="table-cell-title">
                {% if user_level == 10 %}
                <a class="btn btn-small" href="{{ env.url_edit|raw }}" title="{{ label_edit }}"><i class="icon-pencil"></i></a>
                <a class="btn btn-small btn-danger show-modal" href="{{ env.url_delete|raw }}" title="{{ label_delete }}" data-modal-id="delete" data-modal-param="{{ env.name }}"><i class="icon-remove icon-white"></i></a>
                {% endif %}
            </div>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
